@CHARSET "UTF-8";
.main{
	text-align:center;
	position: relative;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
	margin:7% 20% 0 20%;
	height:50%;
	width: 60%;
}
.content2{
	display:table-cell;
	vertical-align:middle;
	border:solid #86473F;
	border-width:4px 9px 7px 4px;
	background-color:rgba(255, 255, 255, 0.7);
	border-radius:20px;
	height:400px;
	width: 1200px;
/* 	margin:0 5% 0 5%; */
}