body,html{margin:0;padding:0;height:100%;}
body{background-image:url('../image/wasi4.jpg');
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	font-family:serif;}

.jsp{
	position:absolute;
	top:0;
	left:0;
}

/*ƒƒCƒ“•”•ª*/
.wrap{
  position:relative;
  width:80vmin; height:80vmin;
  margin:0 auto;
  background:rgba(0,0,0,0);
  transform:scale(.8) translatez(0px);
  opacity:1;
  transition:transform .5s, opacity .5s;
}
a{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  transform:scale(1) translateZ(0px);
  background:#585247;
}
a span{
  display:block;
  height:100%;
  background-size:cover;
  opacity:0.5;
  transition:opacity .5s;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:40vmin 0 0 0;
  transform-origin: 110% 110%;
  transition:transform .4s .15s;
  box-shadow:0 0 10px 4vmin #220000	;
}
a:nth-child(1) span{
  background-image:url('../image/wagara1.jpg');
}
a:nth-child(2){
  border-radius:0 40vmin 0 0;
  left:52.5%;
  transform-origin: -10% 110%;
  transition:transform .4s .2s;
  box-shadow:0 0 10px 4vmin #220000	;

}
a:nth-child(2) span{
  background-image:url('../image/wagara10.jpg');
}
a:nth-child(3){
  border-radius:0 0 40vmin 40vmin;
  width:100%; height:47.5%;
  top:52.5%;
  transform-origin: 110% -10%;
  transition:transform .4s .25s;
  box-shadow:0 0 10px 4vmin #220000	;

}
a:nth-child(3) span{
  background-image:url('../image/wagara13.jpg');
}
a:nth-child(4){
  width:55%;height:55%;
  left:22.5%; top:22.5%;
  border-radius:50vmin;
  transform:scale(1);
  box-shadow:0 0 10px 4vmin #220000	;
}
a:nth-child(4) span{
  background-image: url('../image/M-logo.jpg');
  background-position:center;
  background-size:90%;
  opacity:1;
}
a:nth-child(5){
  text-align:center;
  width:17%; height:17%;
  left:29%; top:2%;
  transform-origin: 110% 110%;
  transition:transform .4s .15s;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-image:url('../image/productList-logo.jpg');
  background-size:103%;
  background-repeat:no-repeat;
  background-posotion:center;
  border-radius:50%;
  box-shadow:0 0 10px 1px #ffffff;
}
a:nth-child(6){
  text-align:center;
  width:17%; height:17%;
  left:81%; top:28%;
  transform-origin: -10% 110%;
  transition:transform .4s .2s;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-image:url('../image/cart-logo.jpg');
  background-size:103%;
  background-repeat:no-repeat;
  background-posotion:center;
  border-radius:50%;
  box-shadow:0 0 10px 1px #ffffff;
}
a:nth-child(7){
  text-align:center;
  width:17%; height:17%;
  top:54%; left:2%;
  transform-origin: 110% -10%;
  transition:transform .4s .25s;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-size:103%;
  background-repeat:no-repeat;
  background-posotion:center;
  border-radius:50%;
  box-shadow:0 0 10px 1px #ffffff;
}
.mypage{
	background-image:url('../image/mypage-logo.jpg');
}
.login2{
	background-image:url('../image/login.jpg');
}
.btn{
  position:relative;
  display:block;
  margin:0 auto;
  top:45vmin;
  width:10vmin; height:10vmin;
}
a span:hover{
  opacity:1;
}
/*Šª•¨*/

.serch,.login{
	width:200px;
	height:200px;
	margin:10px;
	float:left;
}
.serch h2{
	background-image:url('../image/makimono.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
/* 	box-shadow:2px 0 5px 2px #999; */
	background-size:90%;
	width:140px;
	height:40px;
	color:#ffffff;
	padding-top:10px;
	padding-left:60px;
	margin:0;
	font-size:20px;
}
.login h2{
	background-image:url('../image/makimonoBlue.jpg');
	background-size:90%;
	background-repeat:no-repeat;
	background-position:center center;
/* 	box-shadow:2px 0 5px 2px #999; */
	background-size:90%;
	width:140px;
	height:40px;
	color:#ffffff;
	padding-top:10px;
	padding-left:60px;
	margin:0;
	font-size:20px;
}
#form01{
	position:relative;
	left:9px;
	top:-4px;
	transition-duration:.5s;
	background:url('../image/wasisiro.jpg');
	padding-top:10px;
	width:147px;
	height:0px;
	text-decoration:none;
	color:#ffffff;
/* 	box-shadow:0 2px 5px 2px #999 inset; */
	opacity:0;
	padding-left:10px;
	margin-top:0;
	margin-left:10px;
	border-bottom:4px solid #220000;
/* 	box-shadow:0 2px 3px #999,0px 5px 3px -3px #999 inset; */
}

.serch:hover >#form01{
	width:147px;
	height:100px;
	opacity:1;
}
.login:hover >#form01{
	width:147px;
	height:100px;
	opacity:1;
}
#kensaku{
	border-radius:10px;
	background-color:rgba(0,0,0,0);
	border:3px solid #333;
	position:relative;
    top:10px;
}
#button{
	font-family:serif;
	border-radius:10px;
	color: #333;
	border:3px solid #333;
	background-color:rgba(0,0,0,0);
	position:relative;
	top:13px;
    left:88px;
}
#button2{
	font-family:serif;
	display:inline-block;
    color: #333;
    width: 100px;
    height: 40px;
    border-radius:10px;
    border:3px solid #333;
    vertical-align:middle;
    font-weight: bold;
    background-color:rgba(0,0,0,0);
}
